<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/output.css">

</head>
<body class="relative">
  <div class="relative w-full h-screen">
    <!-- Map container -->
    <div id="map" class="w-full h-full z-10"></div>

    <!-- Form overlay -->
   <div id="us" class="absolute top-5 left-4 z-50 bg-white text-center p-3 rounded shadow w-[90%] max-w-[230px] md:w-[500px] sm:left-6 flex flex-col">
      <form id="message-form" class="flex flex-col gap-2">
       <label for="message" class="font-semibold">Target User:</label>
        <input type="text" id="message" name="message" required class="outline-none border focus:ring-2 focus:ring-indigo-400 px-2 py-1 rounded-lg">
        <button type="submit" class="bg-blue-500 text-white px-3 py-1 rounded-lg hover:bg-blue-600 transition">
          Submit
        </button>
      </form>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet-src.min.js" integrity="sha512-3/WyQrhTdqSVmSifQS62akgtNBhZha2lS44TnoN9Jk3J01FvsKK4suVmz6t5FtccGb5iJw58GoFhBjPE5EPc8Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.socket.io/4.8.0/socket.io.min.js" integrity="sha384-OoIbkvzsFFQAG88r+IqMAjyOtYDPGO0cqK5HF5Uosdy/zUEGySeAzytENMDynREd" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.min.js"></script>

    <script src="/js/script.js"></script>
</body>
</html>